<% if(post.length > 0){ %>
<% for (var i = 0; i < post.length; i++) { %>
<div class="row">
  <div class="col-md-12">
    <a href="/p/<%= post[i]._id %>" class="no-hover">
      <div class="card bg-light">
        <p class="card-title-span"><%= post[i].title %><span class="float-right" style="margin-right:16px;">
            <% if(post[i].nsfw != null && post[i].nsfw){ %>
            <span class="badge badge-danger nsfw-badge-show">NSFW</span>
            <% } %>
            <script src="/js/moment.min.js"></script>
          </span><span class="text-muted float-right" style="margin-right:0.75em;"><small><%= timeSince(new Date(post[i].date)); %></small></span></p>
        <div style="margin-left: 16px;">
          <span class="card-sub-span">
            <a href="/r/<%= post[i].realm.name %>" class="no-bs bold">
              r/<%= post[i].realm.name %>
            </a>&bull; posted by
            <a href="/u/<%= post[i].user %>" class="no-bs">
             u/<%= post[i].user %>
            </a>
          </span>
        </div>


        <span style=" margin-left: 16px;">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="post-items" href="/p/<%= post[i]._id %>">
                <% if(post[i].comments.length === 0){ %> No Comments<% }%>
                <% if(post[i].comments.length === 1){ %><%= post[i].comments.length %> Comment<% }%>
                <% if(post[i].comments.length >= 2){ %><%= post[i].comments.length %> Comments<% }%></li>
            <li class="list-inline-item"><a class="post-items" href="#share">Share</li>
          </ul>
        </span>
      </div>
    </a>
  </div>
</div>
<% } %>
<% }else{ %>
<div class="row">
  <div class="col-md-12">
    <div class="card bg-light">
      <div class="card-body">
        <p class="card-text " style="text-align:center;">no posts</p>
      </div>
    </div>
  </div>
</div>
<% } %>

<%

function timeSince(date) {

  var seconds = Math.floor((new Date() - date) / 1000);

  var interval = Math.floor(seconds / 31536000);

  if (interval > 1) {
    return interval + " years";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval > 1) {
    return interval + " months";
  }
  interval = Math.floor(seconds / 86400);
  if (interval > 1) {
    return interval + " days";
  }
  interval = Math.floor(seconds / 3600);
  if (interval > 1) {
    return interval + " hours";
  }
  interval = Math.floor(seconds / 60);
  if (interval > 1) {
    return interval + " minutes";
  }
  return Math.floor(seconds) + " seconds";
}

%>
