<!DOCTYPE html>
<html lang="en" data-theme="dark">
<%- include("partials/header.ejs"); %>
<%- include("partials/nav.ejs"); %>

<body>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <%- include("partials/usertab"); %>
      </div>
      <div class="col-lg-6">
        <%- include("partials/smallpost"); %>
      </div>
      <div class="col-lg-3">
        <%- include("partials/friends"); %>
        <%- include("partials/realms"); %>
        <%- include("partials/footer"); %>
      </div>
    </div>
  </div>
</body>

</html>
