<!DOCTYPE html>
<html lang="en">
<%- include("partials/header"); %>

<body>

  <%- include("partials/nav"); %>
  <br>
  <div class="container">
    <div class="row">
      <% for (var i = 0; i < post.length; i++) { %>
      <div class="col-md-8" style="margin-bottom: 16px;">
        <a href="/p/<%= post[i]._id %>" class="no-hover">
          <div class="card bg-light">
            <p class="card-title-span"><%= post[i].title %></p>
            <div style="margin-left: 16px;">
              <span class="card-sub-span">by <a href="/u/<%= post[i].user %>" class="card-sub-span"><%= post[i].user %></a></span>
            </div>
            <div class="card-body card-text-body-fade">
              <p class="card-text card-text-fade"><%= post[i].post %></p>
            </div>
            <span style="margin-left: 16px; margin-bottom: 16px;">
              <a href="/p/<%= post[i]._id %>" style="text-decoration: none; color: inherit;">
                <span><i class="fas fa-comment"></i>
                  &nbsp;&nbsp;<%= post[i].comments.length %> Comments
                </span>
              </a>
              <span style="margin-left: 16px; margin-bottom: 16px;">
                <i class="fas fa-share"></i>
                &nbsp;&nbsp;Share
              </span>
            </span>

          </div>
        </a>
      </div>
      <% } %>
    </div>
  </div>

</body>

</html>
