<!DOCTYPE html>
<html lang="en">
<%- include("partials/header"); %>

<body>

  <%- include("partials/nav"); %>
  <br>
  <div class="container">
    <div class="row">
      <% for (var i = 0; i < post.length; i++) { %>
      <div class="col-md-8" style="margin-bottom: 16px;">

        <div class="card bg-light">
          <a href="/p/<%= post[i]._id %>" class="no-hover" style="color: rgb(215, 218, 220);">
            <p class="card-title-span"><%= post[i].title %>
          </a>
          <span class="float-right" style="margin-right:16px;">
            <% if(post[i].nsfw != null && post[i].nsfw){ %>
            <span class="badge badge-danger">NSFW</span>
            <% } %>
          </span>
          </p>
          <div style="margin-left: 16px;">
            <span class="card-sub-span">by <a href="/u/<%= post[i].user %>" class="card-sub-span"><%= post[i].user %></a></span>
          </div>
          <div class="card-body card-text-body-fade">
            <p class="card-text card-text-fade <% if(post[i].nsfw){ %>nsfw-text<%}%>"><%= post[i].post %></p>
          </div>
          <span style="margin-left: 16px;">
            <ul class="list-inline">
              <li class="list-inline-item"><a class="post-items" href="/p/<%= post[i]._id %>"><%= post[i].comments.length %> Comments</li>
              <li class="list-inline-item"><a class="post-items" href="#share">Share</li>
            </ul>
          </span>

        </div>
        </a>
      </div>
      <% } %>
    </div>
  </div>

</body>

</html>
