<!DOCTYPE html>
<html lang="en">
<%- include("partials/header"); %>

<body>

  <%- include("partials/nav"); %>
  <br>
  <div class="container">

    <div class="row" style="margin-bottom: 16px;">

      <div class="col-md-8">
        <a href="/p/<%= post._id %>" class="no-hover">
          <div class="card bg-light">
            <p class="card-title-span"><%= post.title %></p>
            <div style="margin-left: 16px;">
                <span class="card-sub-span">by <a href="/u/<%= post.user %>" class="card-sub-span"><%= post.user %></a></span>
            </div>
            <div class="card-body card-text-body-fade">
              <p class="card-text card-text-fade"><%= post.post %></p>

            </div>
          </div>
        </a>

      </div>

      <div class="col-md-4"></div>
    </div>

  </div>

</body>

</html>
