<!DOCTYPE html>
<html lang="en">
<%- include("partials/header"); %>

<body>

  <%- include("partials/nav"); %>
  <br>
  <div class="container">

    <div class="row" style="margin-bottom: 4px;">

      <div class="col-md-8">
        <div class="card bg-light">
          <span class="card-title-span"><%= post.title %>
            
          </span>
          <span class="card-sub-span">by <%= post.user %></span>
          <div class="card-body">
            <p class="card-text"><%= post.post %></p>

          </div>
        </div>

      </div>

      <div class="col-md-4"></div>
    </div>

  </div>

</body>

</html>
