<!DOCTYPE html>
<html lang="en">
<%- include("partials/header"); %>

<body>
  <%- include("partials/nav"); %>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="user-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="user-elem">
                    <img src="data:image/png;base64,<%= user.picture.picture %>" style="width:32px; height:32px; border-radius:25%; background-color:blue;">
                    </img>
                  </div>
                  <div class="user-elem">
                    <h4 style="margin-bottom:0;" class="nowrap">&nbsp;<small><%= realm.name %></small></h4>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <%
          if(user != null){
          var found = false;
          for(var i = 0; i < user.realms.length; i++) {
              if (user.realms[i].name == realm.name) {
                  found = true;
                  break;
              }
          }
          if(found){
            %>
            <a href="/r/e/<%= realm._id %>/unfollow" class="btn btn-secondary btn-sm"><i class="fas fa-times"></i>&nbsp;Unfollow</a>
            <%
          }else{
            %>
            <a href="/r/e/<%= realm._id %>/follow" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i>&nbsp;Follow</a>
            <%
          }
        }
          %>
          <a href="/new/post/<%= realm.name %>" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i>&nbsp;Post</a>
          </div>

        </div>



        <div class="row">
          <div class="col-md-12">
            <div class="card">

              <p class="card-title-span">Realm Options</p>

              <a href="#" id="addMod" class="dropdown-toggle mar-75" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add Moderator</a>
              <div class="dropdown-menu" aria-labelledby="addMod">
                <form class="px-4" action="/realm/manage/<%= realm.name %>/addmod" method="post">
                  <div class="form-group">
                    <label for="body">Username:</label>
                    <input type="text" class="form-control" name="username" rows="3"></input>
                  </div>

                  <button type="submit" class="btn btn-primary btn-sm" style="width:100%;">Add</button>
                </form>
              </div>


            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">

              <p class="card-title-span">Moderators</p>
              <%
                if(realm.owner.username === user.username){
                  %>
              <%
              }
              %>
              <div>
                <ul class="list-group">
                  <%
                  for(var i = 0; i < realm.moderator.length; i++) {
                      %>
                  <a href="/u/<%= realm.moderator[i].username %>" class="no-bs">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <%= realm.moderator[i].username %>
                      <% if(realm.moderator[i].username === user.username){
                        %><span class=""><i class="fas fa-star"></i></span><%
                      } %>

                    </li>
                  </a>
                  <%
                  }
                  %>

                </ul>

              </div>

            </div>
          </div>
        </div>

        <br>
      </div>

      <div class="col-md-9">
        <% if(realm.nsfw){ %>
        <%- include("partials/nsfwpost"); %>
        <% }else{ %>
        <%- include("partials/smallpost"); %>
        <% } %>
      </div>

    </div>

</body>

</html>
