<!DOCTYPE html>
<html lang="en">
<%- include("partials/header"); %>

<body>
  <%- include("partials/nav"); %>
  <div class="realm-header">
    <div class="container">
      <h4 class="realm-header-title">r/<%= realm.name %></h4>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg realm-nav">
    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Posts <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Info</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    <div class="row" style="margin-bottom: 16px;">
      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="post">
            <% if(realm.nsfw){ %>
            <%- include("partials/nsfwpost"); %>
            <% }else{ %>
            <%- include("partials/smallpost"); %>
            <% } %>
          </div>
          <div class="tab-pane fade" id="comments">
            <% if(post.length > 0){ %>
            <% for (var i = 0; i < post.length; i++) { %>
            <div class="row">
              <div class="col-md-12">
                <a href="/p/<%= post[i]._id %>" class="no-hover">
                  <div class="card bg-light">
                    <p class="card-title-span"><%= post[i].title %></p>
                    <div style="margin-left: 16px;">
                      <span class="card-sub-span">by <a href="/u/<%= post[i].user %>" class="card-sub-span"><%= post[i].user %></a></span>
                    </div>
                    <div class="card-body card-text-body-fade">
                      <p class="card-text card-text-fade"><%= post[i].post %></p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <br>
            <% } %>
            <% }else{ %>
            <div class="row">
              <div class="col-md-12">
                <div class="card bg-light">
                  <div class="card-body">
                    <p class="card-text " style="text-align:center;">The user r/<%= realm.name %> has no comments</p>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="card bg-light">
              <p class="card-title-span">r/<%= realm.name %><span class="float-right" style="margin-right:16px;">
                  <% if(realm.nsfw != null && realm.nsfw){ %>
                  <span class="badge badge-danger nsfw-badge-show">NSFW</span>
                  <% } %>
                </span></p>
              <div style="margin-left: 16px;">
                <%= realm.bio %>
                </div>
<br>

              <div class="btn-group realm-button" role="group" aria-label="Basic example">

                <a href="/new/post" class="btn btn-primary">Post</a>
                <%
                  if(user != null){
                  var found = false;
                  for(var i = 0; i < user.realms.length; i++) {
                      if (user.realms[i].name == realm.name) {
                          found = true;
                          break;
                      }
                  }
                  if(found){
                    %>
                <a href="/r/e/<%= realm._id %>/unfollow" class="btn btn-secondary ">Unfollow</a>
                <%
                  }else{
                    %>
                <a href="/r/e/<%= realm._id %>/follow" class="btn btn-primary ">Follow</a>
                <%
                  }
                }
                  %>
              </div>


            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-12">
            <div class="card bg-light">
              <p class="card-title-span">Moderators</p>
              <div style="margin-left: 16px;">
                <%
                  if(realm.owner.username === user.username){
                    %><span class="text-muted">You own this realm.</span><br><span class="text-primary">- <%= realm.owner.username %></span><%
                  }else{
                    %><span>- <%= realm.owner.username %></span><%
                  }
                %>

                <%
                for(var i = 0; i < realm.moderator.length; i++) {
                  if(realm.moderator[i].username === user.username){
                    %>
                    <span class="text-muted">You moderate this realm.</span><br>
                      <span class="text-primary"><%= realm.moderator[i].username %></span>
                    <%
                  }
                  %>
                <span><%= realm.moderator[i].username %></span>
                <%
                }
                %>
              </div>
              <br>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
</body>

</html>
