<!DOCTYPE html>
<html lang="en">
<%- include("partials/header.ejs"); %>
<%- include("partials/nav.ejs"); %>

<body>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card drawer">
          <div class="user-body" style="margin:8px;">
            <div class="user-elem">
              <img src="data:image/png;base64,<%= target.picture.picture %>" style="width:32px; height:32px; border-radius:25%; background-color:blue;">
              </img>
            </div>
            <div class="user-elem">
              <h6 style="margin-bottom:0;" class="nowrap">&nbsp;<%= target.firstname + " " + target.lastname %></h6>
            </div>
            <div class="float-right">
              <% if(user != null){
                var found = false;
                for(var i = 0; i < user.users.length; i++) {
                    if (user.users[i]._id.toString() == target._id.toString()) {
                        found = true;
                        break;
                    }
                }
                if(found){ %>
              <a href="/u/e/<%= target._id %>/unfollow" class="btn btn-secondary btn-sm"><i class="fas fa-user-times"></i>&nbsp;Remove Friend</a>
              <% }else{ %>
              <a href="/u/e/<%= target._id %>/follow" class="btn btn-primary btn-sm"><i class="fas fa-user-plus"></i>&nbsp;Add Friend</a>
              <% } } %>
              &nbsp;

              <button type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-comment"></i>&nbsp;Message</button>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <h6 style="margin:16px; margin-bottom:0px;">Profile</h6>
          <div class="card-body">
            <span><b>Education</b> Big College</span><br>
            <span><b>Home Town</b> Big Town</span>
          </div>
        </div>
      </div>
      <
    </div>
  </div>
  </div>


</body>

</html>
